<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yanfeng.dao.extend.HouseInfoValidExtendMapper" >

    <insert id="batchInsert" parameterType="java.util.List">
        insert into t_house_info_valid(oid,name,mobile,ban,roomNumber,floor,salePrice,createDate,areaName,area_id,memberName,areaSize,community,status,checkContent)
        values
        <foreach collection="list" item="item" index="index"
                 separator=",">
            ( #{item.oid}, #{item.name}, #{item.mobile}, #{item.ban},
            #{item.roomnumber}, #{item.floor},
            #{item.saleprice}, #{item.createdate},
            #{item.areaname},#{item.areaId},  #{item.membername},
            #{item.areasize}, #{item.community}, #{item.status},
            #{item.checkcontent} )
        </foreach>
    </insert>

</mapper>